@import "tailwindcss";

html,
body {
  font-family: 'Nunito';
}

@layer base {
  body {
    @apply bg-[#0B0E14] text-gray-200 antialiased;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}